@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background:rgb(40, 40, 40);
    font-family:  'Gochi Hand', cursive;
}


button{
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

input:focus,
button:focus {
   outline: none;
}
/* header{
    background: linear-gradient(to right,
    rgba(213, 15, 61, 0.6),
     rgba(22, 17, 198, 0.69)),
     url(./guitar.jpg);

    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    position: relative;
    clip-path: polygon(50% 0%, 100% 17%, 100% 60%, 87% 82%, 13% 81%, 0% 60%, 0 16%);
} */

header{
    color: white;
    background: linear-gradient(to right,
    rgba(213, 15, 61, 0.6),
     rgba(13, 17, 198, 0.69)),
     url(./anime.jpg);
    height: 90vh;
    width:100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    clip-path: polygon(50% 0%, 100% 17%, 100% 60%, 87% 82%, 13% 81%, 0% 60%, 0 16%);
    

}
.container {
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    font-size: 22px;
    transform: translate(-50%, -55%);
}

.container h1 {
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
}

head:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0,0, 0.4);
}

header * {
    z-index: 1;
}

header h1 {
    margin: 0 0 30px;
}

form {
    position: relative;
    width: 500px;
   display: flex;
}

input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 15px 30px;
}

.btnsearch {
    width: 100px;
    max-width: 100%;
    /* height: 40px; */
    background: #9E2092;
    color: white;
    border-radius: 50px;
    border: none;
    position: absolute;
    right: 2px;
    bottom: 2px;
    top: 2px;
    font-weight: 600;
    outline: none;
}


.result{
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 15px;
    position: relative;
    display: block;
    

}

ul.songs li {
    margin: 10px 0;
    position: relative;
    text-decoration: underline;
  }

ul.songs li button {
/* padding-left: 20px; */
margin-left: 60px;
font-size: 15px;
padding-left: 10px;
padding-right: 10px;

}  
@media only screen and (max-width: 800px) {
    header{
        height: 70vh;
        width: 95%vw;
    }
    .container{
        font-size: 20px;
        
    }
    form{
        max-width: 300px;
    }
    input{
        width: 100%;
        height: 40px;
        padding: 12px 20px;
  
    }
    button{
        width: 80px;
        max-width: 100%;
    




